recursive-include pt_miniscreen *.py
recursive-include pt_miniscreen *.gif
recursive-include pt_miniscreen *.png
recursive-include pt_miniscreen *.cfg
recursive-include scripts *.sh

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
recursive-exclude * .DS_Store
recursive-exclude * .ropeproject
