Source: pt-sys-oled
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper-compat (= 12),
 dh-sequence-python3
Standards-Version: 4.5.0
Homepage: https://pi-top.com/

Package: pt-sys-oled
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 fonts-freefont-ttf,
 fonts-fs-me-pro,
# 'dtoverlay' command
 libraspberrypi-bin,
# Listening for button presses requires talking to the device manager
 pt-device-manager,
# 'pt-host' command
 pt-device-cli-utils,
 python3-pt-hub-v3,
# Python libs required for common functions
 python3-luma-oled,
 python3-monotonic,
 python3-psutil,
 python3-pt-common,
 python3-pt-oled,
# Required to talk to the device manager
# This functionality should probably be moved into the buttons library
 python3-zmq,
Recommends: autorandr (>= 1.9),
 pt-further-link
Description: pi-top [4] OLED system menu application
 Display and control important system settings/information
 on the pi-top [4]'s onboard OLED screen. Navigation is
 managed by the onboard buttons, which is handled by the
 centralised pi-top device manager.
