Source: pt-sys-oled
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 7),
 dh-python,
 dh-systemd (>= 1.5),
 python3:any
Standards-Version: 3.9.8
Homepage: https://pi-top.com/

Package: pt-sys-oled
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 fonts-freefont-ttf,
 fonts-fs-me-pro,
# Required to take control of the OLED
 pt-device-manager,
 python3-pt-hub-v3,
# Python libs required for common functions
 python3-luma-oled,
 python3-monotonic,
 python3-psutil,
 python3-pt-common,
 python3-pt-oled
Recommends: autorandr (>= 1.9),
 pt-further-link
Description: pi-top [4] OLED system menu application
 Display and control important system settings/information
 on the pi-top [4]'s onboard OLED screen. Navigation is
 managed by the onboard buttons, which is handled by the
 centralised pi-top device manager.
