Source: pt-sys-oled
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 7),
 dh-python,
 dh-systemd (>= 1.5)
Standards-Version: 3.8.4
Homepage: https://pi-top.com/

Package: pt-sys-oled
Architecture: armhf
Depends: ${misc:Depends},
 ${python3:Depends},
 # Currently provided by pt-ui-mods
 autorandr,
 fping,
 fonts-freefont-ttf,
# Required to take control of the OLED
 pt-hub,
# Required for display-specific things
 pt-ui-mods,
# Python libs required for common functions
 python3-luma-oled,
 python3-monotonic,
 python3-psutil,
 python3-pt-common,
 python3-pt-oled,
 python3-isc-dhcp-leases
Description: pi-top [4] OLED system menu application
 Display and control important system settings/information
 on the pi-top [4]'s onboard OLED screen. Navigation is
 managed by the onboard buttons, which is handled by the
 centralised pi-top device manager.
