[Unit]
Description=pi-top OLED system menu
Documentation=https://knowledgebase.pi-top.com/knowledge
# Required to determine what type of device
After=pi-topd.service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/bin/pt-miniscreen
ExecCondition=/usr/bin/pt-miniscreen-should-start

[Install]
WantedBy=multi-user.target
