[Unit]
Description=pi-top OLED system menu
After=pt-oled-startup-anim.service

[Service]
Type=simple
Restart=on-failure
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/lib/pt-sys-oled/pt-sys-oled

[Install]
WantedBy=multi-user.target
