[Unit]
Description=pi-top OLED system menu
After=pt-device-manager.service

[Service]
Type=simple
Restart=always
ExecStart=/bin/sleep 3
ExecStart=/usr/lib/pt-sys-menu/pt-sys-menu

[Install]
WantedBy=local-fs.target
