[Unit]
Description=pi-top OLED system menu
Documentation=https://knowledgebase.pi-top.com/knowledge

[Service]
Type=simple
Restart=on-failure
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/lib/pt-sys-oled/pt-sys-oled

[Install]
WantedBy=multi-user.target
