[Unit]
Description=pi-top OLED system menu
After=pt-oled-startup-anim.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/python3 -B /usr/lib/pt-sys-oled/pt-sys-oled

[Install]
WantedBy=local-fs.target
