[Unit]
Description=pi-top OLED system menu
After=pt-oled-startup-anim.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 -B /usr/lib/pt-sys-menu/pt-sys-menu

[Install]
WantedBy=local-fs.target
